DATABASE_URL=""
DIRECT_URL=""

BETTER_AUTH_URL=""
BETTER_AUTH_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

ADMIN_EMAIL=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

SMTP_SENDER=""
SMTP_USER=""
SMTP_PORT=""
SMTP_SERVER=""
SMTP_PASS=""

BKASH_BASE_URL=""
BKASH_USERNAME=""
BKASH_PASSWORD=""
BKASH_APP_KEY=""
BKASH_APP_SECRET=""

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""